@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@font-face {
    font-family: MyFont;
    src: url(../css-3/fontes/OLDENGL.TTF) ;
}

.font1 {
    font-family: 'Eczar', serif;
}
.font2 {
    font-family: 'Patua One', cursive;
}
.font3 {
    font-family: "MyFont";
}